{% extends 'forum/base.html' %}
{% load bootstrap4 %}

{% block header %}
<h3 class="font-weight-light">Anything you'd like to share about <span class="font-weight-light badge badge-pill badge-info">{{ topic }}</span> goes here!</h3>
{% endblock header %}

{% block content %}
<form class="form bg-white p-3 shadow-lg" action="{% url 'forum:new_post' topic.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="save" class="btn btn-sm btn-info">Save</button>
    <a href="{% url 'forum:topic' topic.pk %}" class="btn btn-sm btn-outline-danger">Cancel</a>
</form>
{% endblock content %}