<h5 class="font-weight-light border-bottom pb-2">
    <a href="{% url 'forum:post' topic.pk post.pk %}">{{ post.title }}</a></h5>
<p class="pt-2">{{ post.content|slice:num }}...</p>
<div class="d-flex justify-content-between">
    <p class="text-muted">{{ post.date_added | date:'Y-m-d H:i' }}</p>
    <a href="{% url 'forum:post' topic.pk post.pk %}">
        <span class="badge badge-pill badge-light 
            font-weight-lighter shadow-sm mt-1">{{ post.comment_set.count }} comments</span></small></a>
</div>

