{% extends 'forum/base.html' %}

{% block header %}
<h5 class="font-weight-light">Searching results of <i class="font-weight-normal">" {{ query }}
        "</i>{% if search_result_topic %} under topic
    <i class="font-weight-normal">{{ search_result_topic }}</i>{% endif %}:</h5>
{% endblock header %}

{% block content %}
<div class="row">
    
    <aside class="col-md-3 p-3 bg-white text-center">
        <p class="text-muted">- Topics -</p>
        <div class="">
            {% for topic in search_result_topics %}
            {% if topic == search_result_topic %}
            <p class="btn btn-secondary rounded-lg mb-2 p-2 shadow-sm" style="width:90%;">
                {{ topic }}</p>
            {% else %}
            <a class="btn btn-outline-secondary rounded-lg mb-2 p-2 shadow-sm" style="width:90%;"
                href="{% url 'forum:search_topic' query topic.pk %}">{{ topic }}</a>
            {% endif %}
            {% empty %}
            <p class="text-muted">No topic found...</p>
            {% endfor %}
        </div>
    </aside>

    <section class="col-md-9 p-3 bg-white shadow-lg">
        <p class="text-muted text-center">- Posts -</p>
        {% for post in search_result_posts %}
        <div class="card shadow-sm p-2 mb-4">
            <h5 class="card-header font-weight-light">
                <a href="{% url 'forum:post' post.topic.pk post.pk %}">{{ post.title }}</a></h5>
            <p class="card-body">{{ post.content|slice:':300' }}...</p>
        </div>
        {% empty %}
        <p class="text-muted">No post found...</p>
        {% endfor %}
    </section>

</div>
{% endblock content %}