{% extends 'forum/base.html' %}

{% block header %}
<h2 class="font-weight-light">{{ topic }}</h2>
{% endblock header %}

{% block content %}
<a href="{% url 'forum:new_post' topic.pk %}" class="mb-4 btn btn-secondary btn-sm shadow">Write a post</a>
{% for post in topic.post_set.all %}
<div class="bg-white rounded-lg shadow-lg p-3 mb-3">
    <h5 class="font-weight-light">
        <a href="{% url 'forum:post' topic.pk post.pk %}">{{ post.title }}</a></h5>
    <hr>
    <p>{{ post }}</p>
    <p class="text-muted">{{ post.date_added | date:'Y-m-d H:i' }}</p>

</div>
{% endfor %}
{% endblock content %}