{% extends 'forum/base.html' %}

{% block header %}
<h2 class="font-weight-light">Welcome to Metta Forum{% if user.is_authenticated %}
<span>, Dear {{user.username}}!</span>{% else %}<span>!</span>
{% endif %}</h2>
{% endblock header %}

{% block content %}
{% for topic in topics %}
<section class="p-4 bg-white shadow-lg rounded-lg border-bottom mb-5">
    <div class="mb-4">
        <h3 class=""><a href="{% url 'forum:topic' topic.pk %}">{{ topic }}</a></h3>
        <p class="">{{ topic.description }}</p>
    </div>
        <div class="row mb-2">
            {% for post in topic.post_set.all|slice:":4" %}
            <div class="col-md-6 mb-3">
                <h5 class="font-weight-light">
                    <a href="{% url 'forum:post' post.topic.pk post.pk %}">{{ post.title }}</a></h5>
                <hr>
                <p>{{ post }}</p>
            </div>
            {% endfor %}
            <a href="{% url 'forum:topic' topic.pk %}" class="text-muted ml-auto mr-4">more posts...</a>
        </div>

    
</section>
{% endfor %}

{% endblock content %}