{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'metta_forum/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'metta_forum/img/metta.png' %}">
    <title>Metta</title>
</head>

<body class="container d-flex align-items-center justify-content-around"
    style="background-image: url(static/metta_forum/img/bg1.jpg); background-size: cover;">

    <div class="row m-2">

        <section class="col-lg-8 border border-secondary rounded-lg py-5"
            style="background-color: rgba(255, 255, 255, 0.5);">
            <h2 class="ml-3">Metta Forum</h2>
            <p class="m-3">Metta in Pali means mercy or loving-kindness, friendliness, goodwill. The
                goal of any meditation is for the practitioner to gain awareness and, like any other practices, it is
                crucial for them to communicate with one another in order to become a better practitioner. <br>This
                forum will hopefully offer a cozy atmosphere in which people can share freely of their experiences and
                discuss their meditation techniques lovingly, friendly and in goodwill.
            </p>
            <a href="{% url 'metta_forum:boards' %}" class="ml-3 mt-5 mb-4 btn btn-info">Visit without an account</a>
        </section>

        <section class="col-lg-4 border border-secondary rounded-lg"
            style="background-color: rgba(255, 255, 255, 0.5);">
            {% if form.errors %}
            <p class="text-center pt-3 text-info">Incorrect username or password. Pleae try again.</p>
            {% endif %}
            <form class="p-3" action="" method="POST">
                {% csrf_token %}
                <h5 class="border-bottom mt-2 pb-2 ">Sign In</h5>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never reveal your personal
                        information</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <button type="submit" class="btn btn-info">Sign In</button>
            </form>

            <p class="border-top pl-3">
                <small class="form-text text-muted">Don't have an account?</small>
                <a href="{% url 'users:register' %}" class="mt-2 btn btn-info ">Sign Up</a>
            </p>
        </section>

    </div>


</body>

</html>